.books{
	width: 100px;
	height: 100px;
	margin: 13px;
}

html{
  scroll-behavior: smooth;
}


.navbar.custom {
  width: 50%;  
  margin: 0 auto;
}


.txt{
	font-size: 16px;
	color: black;

}

.txt2{
	color: white;
}

.nav-item {
    margin: 0 6px;
}

.text-book{
	display: none;
}


.livros{
	position:relative;
}


.livros:hover{
	top:-2px;
	border-bottom:2px solid #999;
	opacity: 0.5;

}

#mostrar{
	display: none;
}


